<div class="subject-section-container">
    <form [formGroup]="subjectSection" novalidate (ngSubmit)="saveForm(subjectSection)">
        <div class="form-group">
            <label for="subject" class="form-label"><span class="form-required">*</span>Subject</label>
            <input type="text" formControlName="subject">

            <!--display error message if subject is not valid-->
            <small *ngIf="!subjectSection.get('subject')?.valid && subjectSection.get('subject')?.touched"
                class="form-error">
                Subject is required.
            </small>
        </div>

        <div class="form-group">
            <label for="totalPoints" class="form-label"><span class="form-required">*</span>Total Points</label>
            <input type="number" formControlName="totalPoints">

            <!--display error message if subject is not valid-->
            <small *ngIf="!subjectSection.get('totalPoints')?.valid && subjectSection.get('totalPoints')?.touched"
                class="form-error">
                Total points is required.
            </small>
        </div>

        <button type="button" (click)="addCategorySection();">Add new section</button>

        <!-- list of categorySection -->
        <div formArrayName="categorySection">
            <div *ngFor="let categorySection of getCategorySectionFormArray().controls; let i=index">
                <!-- grade header, show remove button when more than one address available -->
                <div>
                    <span>Category {{i + 1}}</span>
                    <span (click)="removeCategorySection(i)">
                        remove
                    </span>
                </div>

                <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                <div [formGroupName]="i">
                    <app-category-section [categoryGroup]="getCategorySectionFormGroup(i)"></app-category-section>
                </div>
            </div>
        </div>

        <button type="submit" [disabled]="!subjectSection.valid" class="form-submit">Submit</button>
    </form>

    <div class="json-block">
        <pre>{{ subjectSection.value | json }}</pre>
    </div>
</div>