:host {

    .subject-section-container {
        display: flex;
        flex-direction: column;

        .form-group {
            display: inline-flex;
            flex-direction: column;

            .form-label {
                font-size: 16px;
                font-weight: bold;
            }

            .form-required {
                color: red;
            }

            .form-error {
                color: red;
            }
        }

        .form-submit {
            font-size: 16px;
        }

        .json-block {
            display: inline-block;
            background-color: #333333;
            padding: 4px 16px;
            border-radius: 4px;
        
            pre {
                color: white;
            }
        }
    }
}


