:host {

    .category-group {
        padding: 16px 0 16px 16px;

        .form-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
            border-bottom: 2px solid #333333;
            padding: 4px 0;

            .form-title {
                font-size: 20px;
            }

            .remove-self {
                border: 2px solid red;
                border-radius: 2px;
                background-color: transparent;
                color: red;
                font-weight: bold;
                font-size: 14px;
            }
        }

        .form-controllers {
            display: flex;
            flex-direction: column;
            gap: 24px 0;
    
            .form-controller {
                display: flex;
                flex-direction: column;
                gap: 4px 0;

                .form-label {
                    font-size: 18px;
                }

                .form-input {
                    padding: 8px;
                    font-size: 16px;
                    border: 2px solid #333333;
                    border-radius: 4px;
                }
            }
        }
    
        .form-add-grade {
            margin-top: 16px;
            border: 2px solid #1175a3;
            border-radius: 4px;
            padding: 8px;
            font-size: 16px;
            background-color: #1184b9;
            color: white;
        }

        .form-add-grade:disabled {
            background-color: #efefef4d;
            border-color: #dddddd;
            color: #1010104d;
        }
    }
}